*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* -----ROOT----- */
:root {
  --font-family: "Quicksand", sans-serif;
  --general-font-size: 0.938rem;
  --main-heading-font-size: 4.5rem;
  --mobile-main-heading-font-size: 3rem;
  --heading-font-size: 2rem;
  --mobile-heading-font-size: 1.4rem;
  --heading-color: #222222;
  --paragraph-color: #666666;
  --yellow-bg: #fbce00;
  --grey-bg: #efefef;
  --blue-bg: #4c89cf;
  --blue-btn-color: #4483cd;
  --form-text-color: #01357f;
  --white-color: #ffffff;
  --spacing: 1rem;
}
/* -----ROOT----- */

html {
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}
h1 {
  font-size: var(--main-heading-font-size);
  line-height: 1;
  color: var(--white-color);
}
h2 {
  font-size: var(--heading-font-size);
  line-height: 1.5;
}
h3 {
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
p {
  font-size: var(--general-font-size);
  color: var(--paragraph-color);
  font-weight: 500;
}
a {
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}

@media only screen and (min-width: 769px) and (max-width: 1120px) {
  h1 {
    font-size: calc(var(--mobile-heading-font-size) * 2.5);
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: var(--mobile-main-heading-font-size);
  }
  h2 {
    font-size: var(--mobile-heading-font-size);
  }
  h3 {
    font-size: 1.125rem;
  }
}

/* ------------General Classes------------ */
/* ***Containers*** */
.container {
  width: 1200px;
  margin: auto;
}
/* For Mobile  */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
/* For Large Phone and Portrait  */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 90%;
  }
}
/* For Landscape and Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 700px;
  }
}
/* Large Devices such as Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 950px;
  }
}
/* ***End-Containers*** */

.upper-case {
  text-transform: uppercase;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.section-spacing {
  padding: calc(var(--spacing) * 4) 0;
}

.margin-top {
  margin-top: calc(var(--spacing) * 2);
}

.margin-bottom {
  margin-bottom: calc(var(--spacing) * 1.5);
}

.col-padding{
  padding-left: 15px;
  padding-right: 15px;
}
/* ------------End-General Classes------------ */

/* ------------Components------------ */
/* ***Border Under Links*** */
.link-border {
  position: relative;
  padding-bottom: 1px;
}
.link-border:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--white-color);
  transition: width 0.3s ease;
}
.link-border:hover:after {
  width: 100%;
}
/* ***End-Border Under Links*** */

/* ***HAM MENU ICON*** */
.ham-menu {
  cursor: pointer;
  display: block;
  height: 24px;
  position: relative;
  width: 24px;
}
.bar {
  background-color: var(--white-color);
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
}
.bar1 {
  top: 4px;
}
.bar2 {
  top: 11px;
}
.bar3 {
  top: 18px;
}
.ham-menu:active .bar1 {
  top: 12px;
  transform: rotate(-45deg) translate(5px, 10px);
}
.ham-menu:active .bar2 {
  opacity: 0;
}
.ham-menu:active .bar3 {
  top: 12px;
  transform: rotate(45deg) translate(10px, -5px);
}
/* ***End-HAM MENU ICON*** */

/* ***Parallax** */
.parallax {
  background-image: url(../images/amsterdam.jpg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
}
/* ***End-Parallax*** */

/* ------------End-Components------------ */

/* ------------Header------------ */
.header {
  background: url(../images/The-amazing-Fira-of-Santorini.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: var(--white-color) !important;
}
.header p {
  color: var(--white-color) !important;
}
.header:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

/* ***Navigation*** */
.nav-bar {
  width: 100%;
  background-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}
.nav-item {
  display: inline-block;
  margin-left: 1.5rem;
  position: relative;
  z-index: 3;
}
.ham-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .ham-menu {
    display: inline-block;
  }
}
/* ***End-Navigation*** */

/* ***Slider Content*** */
.header > .slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  max-height: 70%;
}
.slider-content {
  animation: fadeInFromTop 1.5s ease-out;
}
.vertical-line {
  border-left: 1px solid var(--white-color);
  height: 100px;
  animation: verticalLineExpand 1s ease-out forwards;
}
.tours-btn {
  padding: 10px 70px;
  border: 1px solid var(--white-color);
  transform: translate(0, 50%);
  transition: all 200ms ease-in;
}
.tours-btn:hover {
  background-color: var(--yellow-bg);
  border-color: var(--yellow-bg);
}
/* For Mobile  */
@media only screen and (max-width: 600px) {
  .tours-btn {
    padding: 10px 40px;
  }
}
/* ***End-Slider Content*** */

/* ---------End-Header------------ */

/* ---------About------------ */
.about-item {
  padding: 0 1.2rem;
}
.about-item img {
  width: 60px;
  height: 60px;
  margin-bottom: calc(var(--spacing) / 2);
}
/* For mobile */
@media only screen and (max-width: 768px) {
  .about-content {
    flex-wrap: wrap;
  }
  .about-item {
    padding: 0 0.9rem;
    margin-bottom: calc(var(--spacing) * 2);
  }
  .about-item img {
    width: 32px;
    height: 32px;
  }
}
/* ---------End-About------------ */

/* ---------Places Content------------ */
.place [class^="col-"] {
  padding: 0;
}
.about-place {
  background-color: var(--grey-bg);
  padding: var(--spacing) 2.5rem;
}
@media only screen and (max-width: 768px) {
  .about-place {
    padding: calc(var(--spacing) * 3) 1.5rem;
  }
}
/* ---------End-Places Content------------ */

/* ---------Popular Destinations------------ */
.overview {
  animation: fadeIn 1.8s ease-in-out;
  position: relative;
  overflow: hidden;

}
.overview img {
  width: 100%;
  position: relative;
  object-fit: contain;
  border-radius: 3px;
}
.destination-overlay {
  background-color: var(--blue-bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: var(--spacing);
  padding-bottom: 25px;
  transition: all 0.4s ease-out;
  opacity: 0;
  background-clip: content-box;
}
.destination-overlay * {
  color: var(--white-color);
}
.overview:hover > .destination-overlay {
  opacity: 0.9;
}
@media screen and (max-width: 767px) {
  a {
    font-size: 0.7rem;
  }
}
/* ---------End-Popular Destinations------------ */

/* ---------Amsterdam------------ */
.amsterdam-content * {
  color: var(--white-color);
}
/* ---------End-Amsterdam------------ */

/* ---------Find Deals------------ */
.find-deals {
  background-color: var(--yellow-bg);
}
.find-deals-content * {
  color: var(--form-text-color);
}
.find-deals-content h2 {
  font-size: 1.2rem;
}
/* Form Styling */
.form-text {
  position: relative;
}
.form-text input[type="text"] {
  width: 100%;
  padding: var(--spacing);
  padding-left: 55px;
  border: none;
  font-size: var(--general-font-size);
}
.form-text img {
  position: absolute;
  width: 25px;
  height: auto;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.form-dates {
  gap: 0.3rem;
}
.form-date {
  position: relative;
}
.form-date label {
  position: absolute;
  font-size: 0.7rem;
  left: 5px;
  font-weight: bold;
}
.form-date input[type="date"] {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.deal-form button {
  background-color: var(--blue-btn-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 12px -5px rgba(62,121,189,1);
  cursor: pointer;
}
.form-footer img{
  height: 25px;
  width: auto;
}
/* ---------End-Find Deals------------ */
