*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* -----ROOT----- */
:root {
  --font-family: "Quicksand", sans-serif;
  --general-font-size: 0.938rem;
  --main-heading-font-size: 4.5rem;
  --mobile-main-heading-font-size: 3rem;
  --heading-font-size: 2rem;
  --mobile-heading-font-size: 1.3rem;
  --heading-color: #222222;
  --paragraph-color: #666666;
  --yellow-bg: #fbce00;
  --blue-btn-color: #0896ff;
  --white-color: #ffffff;
}
/* -----ROOT----- */

html {
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}
h1 {
  font-size: var(--main-heading-font-size);
  line-height: 1;
  color: var(--white-color);
}
h2 {
  font-size: var(--heading-font-size);
}
h3 {
  font-size: 1.4rem;
}
p {
  font-size: var(--general-font-size);
  color: var(--paragraph-color);
  font-weight: 500;
}
a {
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: var(--mobile-main-heading-font-size);
  }
  h2 {
    font-size: var(--mobile-heading-font-sizeheading-font-size);
  }
}

/* ------------General Classes------------ */
/* ***Containers*** */
.container1 {
  width: 1200px;
  margin: auto;
}
.container2 {
  width: 95%;
  margin: auto;
}
/* For Mobile  */
@media only screen and (max-width: 600px) {
  .container1 {
    width: 90%;
  }
}
/* For Large Phone and Portrait  */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container1 {
    width: 90%;
  }
}
/* For Landscape and Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container1 {
    width: 750px;
  }
}
/* Large Devices such as Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container1 {
    width: 950px;
  }
}
/* ***End-Containers*** */

.upper-case {
  text-transform: uppercase;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}

.section-spacing {
  padding: 3.2rem 0;
}
/* ------------End-General Classes------------ */

/* ------------Components------------ */
/* ***Border Under Links*** */
.link-border {
  position: relative;
  padding-bottom: 1px;
}
.link-border:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--white-color);
  transition: width 0.3s ease;
}
.link-border:hover:after {
  width: 100%;
}
/* ***End-Border Under Links*** */

/* ***HAM MENU ICON*** */
.ham-menu {
  cursor: pointer;
  display: block;
  height: 24px;
  position: relative;
  width: 24px;
}
.bar {
  background-color: var(--white-color);
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
}
.bar1 {
  top: 4px;
}
.bar2 {
  top: 11px;
}
.bar3 {
  top: 18px;
}
.ham-menu:active .bar1 {
  top: 12px;
  transform: rotate(-45deg) translate(5px, 10px);
}
.ham-menu:active .bar2 {
  opacity: 0;
}
.ham-menu:active .bar3 {
  top: 12px;
  transform: rotate(45deg) translate(10px, -5px);
}
/* ***End-HAM MENU ICON*** */
/* ------------End-Components------------ */

/* ------------Header------------ */
.header {
  background: url(../images/The-amazing-Fira-of-Santorini.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: var(--white-color) !important;
}
.header p {
  color: var(--white-color) !important;
}
.header:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

/* ***Navigation*** */
.nav-bar {
  width: 100%;
  background-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}
.nav-item {
  display: inline-block;
  margin-left: 2rem;
  position: relative;
  z-index: 3;
}
.ham-menu {
  display: none;
}
@media only screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .ham-menu {
    display: inline-block;
  }
}
/* ***End-Navigation*** */

.header > .home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding-top: 8rem;
}
.home-content {
  animation: fadeInFromTop 1.5s ease-out;
}
.vertical-line {
  border-left: 1px solid var(--white-color);
  height: 100px;
  animation: verticalLineExpand 1s ease-out forwards;
}
.tours-btn {
  padding: 10px 70px;
  border: 1px solid var(--white-color);
  transform: translate(0, 50%);
  transition: all 200ms ease-in;
}
.tours-btn:hover {
  background-color: var(--yellow-bg);
  border-color: var(--yellow-bg);
}
/* For Mobile  */
@media only screen and (max-width: 600px) {
  .tours-btn {
    padding: 10px 40px;
  }
}
/* ---------End-Header------------ */

/* ---------About------------ */
.about-item {
  padding: 0 1.8rem;
}
.about-item img {
  width: 64px;
  height: 64px;
}
/* ---------End-About------------ */
